* {margin:0;padding:0;}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
.container {
    width:400px;
    margin:10px auto;
}
.window {
    overflow:hidden;
}
.window>.images {
    display:flex;
    transition:all 1s;
}
.buttonWrapper {
    position: relative;
}
#previous,#next {
    font-size:26px;
    position:absolute;
    top:-160px;
}
#next {
    right:0px;
}
.buttonWrapper>.buttons {
    position:absolute;
    top:-30px;
    left:0px;
    right:0px;
}
.buttons>button {
    background: #515151;
    color:white;
    border:none;
    border-radius:50%;
    padding:2px 6px;
    outline:none;
}